* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  transition: 1s;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30rem;
  height: 15rem;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  font-size: 40px;
  text-align: center;
}

button {
  cursor: pointer;
  margin-top: 50px;
  width: 100%;
  display: block;
  font-size: 25px;
  background-color: black;
  color: white;
  font-size: 35px;
}
